@font-face {
	font-family: 'IBMPlex-regular';
	src: url('./font/IBMPlexSansKR-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'IBMPlex-semiBold';
	src: url('./font/IBMPlexSansKR-SemiBold.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	font-size: 10px;
}

body {
	margin: 0;
	letter-spacing: 0px;
	text-align: center;
	/* overflow: hidden; */
	font-family: 'IBMPlex-regular';
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

label {
	display: block;
}

.App {
	width: 100vw;
	height: 100vh;
}

input,
textarea {
	font-size: 2rem;
	border-radius: 5px;
	border: 2px solid #8b8b8b;
	background-color: rgba(255, 255, 255, 0);
	color: rgb(0, 0, 0);
	padding: 1rem;
	margin-top: 20px;
}

input:focus,
textarea:focus {
	outline: none;
	font-size: 2rem;
	border: 2px solid #0084ff;
}

input:read-only {
	background-color: rgba(0, 0, 0, 0.178);
}

button,
button.submit,
.btn_link {
	width: 94%;
	transition: all 200ms ease;
	padding: 5px;
	display: block;
	font-size: 2rem;
	border-radius: 5px;
	margin: 10px auto;
}
button,
.btn_link {
	border: 2px solid #ececec;
	background-color: #ececec;
	color: #414141;
}
button.submit {
	margin: 40px auto;
	border: 2px solid #0084ff;
	background-color: #0084ff;
	color: #fff;
}
button.submit:hover {
	border: 2px solid #006ace;
	background-color: #006ace;
}
button:hover,
.btn_link:hover {
	border: 2px solid #e0e0e0;
	background-color: #e0e0e0;
}

h1 {
	font-size: 3rem;
}

.pagination {
	display: flex;
	justify-content: center;
}

ul.pagination li {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	margin: 2px;
}

ul.pagination li > a {
	padding: 5px;
}

ul.pagination li:hover {
	border: 1px solid #0084ff83;
	margin: 1px;
}

.strong {
	background-color: #0084ff83;
	color: #fff;
}

.detail_like {
	cursor: pointer;
}

.detail_like:hover {
	transform: scale(1.2);
}

.like::before {
	position: absolute;
	width: 2rem;
	height: 20px;
	content: '';
	background-image: url(./images/heart.svg);
	top: 15%;
	left: 0;
}
